---
title: fluent data, llc
layout: default
---

<div style = "text-align: center; font-size: 2em;">
	<p>Fluent Data is dedicated to helping you get the most out of your data. We can design and execute data analysis plans for your data or help get your staff up-to-speed with the latest data analysis techniques and open-source technologies. Contact us today at <a href = "mailto:info@fluentdatallc.com">info@fluentdatallc.com</a> to find out how we can help you.</p>
 <!-- <a href = "mailto:info@fluentdatallc.com">info@fluentdatallc.com</a> -->
</div>

<!--
  <p>Fluent Data is dedicated to helping you get the most out of your data. We can design and execute data analysis plans for your data or help get your staff up-to-speed with the latest data analysis techniques and open-source technologies. Contact us today at <a href = "mailto:info@fluentdatallc.com">info@fluentdatallc.com</a> to find out how we can help you.</p>

  <div>
    <div style = "width: 32%; display: inline-block; height: 200px;">
      <i class = "fa fa-desktop" style = "font-size: 5em; text-align: center;"></i>
      <h3 style = "text-align: center;">Training</h3>
      <p>Lorem ipsum dolar sit amet...</p>
      <a href = "training.html" class = "btn">Learn More</a>
    </div>
    <div style = "width: 32%; display: inline-block; height: 200px;">
      <i class = "fa fa-paper-plane-o"></i>
      <h3>Open Source</h3>
      <p>Lorem ipsum dolar sit amet...</p>
      <a href = "training.html" class = "btn">Learn More</a>
    </div>
    <div style = "width: 32%; display: inline-block; height: 200px;">
      <i class = "fa fa-flash"></i>
      <h3>Services</h3>
      <p>Lorem ipsum dolar sit amet...</p>
      <a href = "training.html" class = "btn">Learn More</a>
    </div>
  </div>
 --> 
<!--
<ul id="posts">



	{% for post in paginator.posts %}

	  <li class="post">
	  	<h2><a href="{% if site.baseurl == "/" %}{{ post.url }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}">{{ post.title }}</a></h2>
	  	<time datetime="{{ post.date | date_to_xmlschema }}" class="by-line">{{ post.date | date_to_string }}</time>
	  	<p>{{ post.content | strip_html | truncatewords:50 }}</p>
	  </li>

    {% endfor %}

</ul>
-->
